<app-header></app-header>
<div class="confirmation">
    <img style="width: 150px;height: 150px;" src="assets/emailsent.gif">
    <div class="h2" >Congratulations....<br>
        Your Password reset successfully...<br>
    </div>
    <a class="btnRegister" href="#">Login into your account</a>
</div>