<app-header></app-header>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper ">
  <div id="formContent">
    <h2>Change Password</h2> 
    <br>

    <form>
       
      <input type="password" id="password1" class="fadeIn second" name="pass1" placeholder="Password">
      <input type="password" id="password2" class="fadeIn third" name="pass2" placeholder="Confirm Password">
      <br>
      <input type="submit" class="fadeIn fourth" value="Change Password">
    </form>

    
  </div>
</div>