<app-header></app-header>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper ">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2>Login to your Company Dashboard</h2> 
    <!-- Icon -->
    <br>
    <!-- Login Form -->
    <form >
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email" formControlName="email" required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" formControlName="password" required>
      <br>
      <input type="submit" class="fadeIn fourth" value="Log In" *ngIf="(auth.isAuthenticated$ | async) === false"
      (click)="loginWithRedirect()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a  href="#">Forgot Password?</a><br>
      <a  routerLink="register" routerLinkActive="Active">Dont Have an account ? Signup..</a>
    </div>

  </div>
</div>