<app-register></app-register>
<!-- <app-login></app-login> -->
<!-- <app-changepassword></app-changepassword> -->
<!-- <app-changesuccess></app-changesuccess> -->
<!-- <app-confirmation></app-confirmation> -->
<!-- <app-resetpassword></app-resetpassword> -->
<!-- <app-resetsuccess></app-resetsuccess> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-manageuser></app-manageuser> -->
<!-- <app-header></app-header> -->
<router-outlet></router-outlet>