.container{
  margin-top: 30px;
}
.userinfo{
  display: none;
}
.heading{
  margin-top: 100px;
  margin-left:100px;
}
.leftside{
padding: 0px 0px 0px 100px;
}
.rightside{
  padding : 0px 150px 0px 400px;

}

.textplace{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.test123{
  margin-left: 93%;
  margin-top: 1%;
  margin-bottom: 1%;

}



  .searchbar{


  height: 60px;
  background-color: #1750ca;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 250px;
  caret-color:rgb(255, 255, 255);
  transition: width 0.4s linear;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
  .searchbar:hover > .search_icon{
  background: white;
  color: #185bd6;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }
  
  /*Resize the wrap to see the search bar change!*/
  
  .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  margin-left: 3%;
  margin-top: 2%;
  
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}