<app-headercompany></app-headercompany>
<br><br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<script type="text/javascript">

var app = angular.module('MyApp', [])
    app.controller('MyController', function ($scope, $window) {
            $scope.users = [
                { Name: "Godspeed", Email: "Satasiya", Role: "Admin", Status: "Active"},
                { Name: "Lucifer", Email: "Satasiya", Role: "Admin", Status: "Active"},
                { Name: "Cadbury", Email: "Satasiya", Role: "Accountant", Status: "Active"},
                { Name: "Doc", Email: "Satasiya", Role: "HR", Status: "Active"},
            ];
 
            $scope.Add = function () {
                //Add the new item to the Array.
                var user = {};
                user.Name = $scope.Name;
                user.Email = $scope.Email;
                $scope.users.push(user);
 
                //Clear the TextBoxes.
                $scope.Name = "";
                $scope.Email = "";
                $scope.lname = "";
                $scope.Phone = "";
            };
 
            $scope.Remove = function (index) {
                //Find the record using Index from Array.
                var name = $scope.users[index].Name;
                if ($window.confirm("Do you want to delete: " + name)) {
                    //Remove the item from Array using Index.
                    $scope.users.splice(index, 1);
                }
            }
        });


</script>
<div class="container heading">
    <p> Home > <a href="#">Manage User</a></p>

    <div class="d-flex justify-content-left h-50">

        <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>

    </div>
</div>
<div class="parent-container d-flex" ng-controller="MyController">
    <div class="container">
        <div class="row">
            <div class="col leftside">
                <button class="btn btn-primary test123" (click)=toggleDisplayDiv() role="button">New</button>

                <th>

                    <table class="table table-striped" style="table-layout: fixed;
                    width: 100%;">
                        <thead>
                            <tr>
                                <th scope="col">Sl No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status </th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody ng-repeat="m in users">
                            <tr>
                                <th scope="row">id</th>
                                <td>TestName</td>
                                <td>TestEmail</td>
                                <td>Test12</td>
                                <td>Test12</td>
                                <td><a href="#">Edit </a>/ <a href="#">De-Activate</a></td>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </div>
        </div>
    </div>
    <!----ITEM 1 END-->


    <!----------ITEM 2 -->
    <div [hidden]="isShowDiv" class="container" id="userinfo">
        <div class="row">
            <div class="col rightside">
                <label class="textplace">Add / Edit User</label><br>

                <label for="inputCity">FirstName</label>
                <input type="text" ng-model="Name" class="form-control" placeholder="First Name" aria-label="Name"
                    aria-describedby="basic-addon1"><br>

                <label for="inputCity">LastName</label>
                <input type="text" ng-model="lname" class="form-control" placeholder="Last Name"
                    aria-label="lname" aria-describedby="inputGroup-sizing-default"><br>


                <label for="inputCity">Email</label>
                <input type="text" ng-model="Email" class="form-control" placeholder="Email" aria-label="Email"
                    aria-describedby="basic-addon1"><br>

                <label for="inputState">Phone</label>
                <input type="text" ng-model="Phone" placeholder="Phone" class="form-control" aria-label="Phone"
                    id="inputBranch">


                <br>
                <input class="btn btn-success" type="button" ng-click="Add()" style="margin-left:320px"
                    value="Add / Edit" />

                <!-----END ITEM 2 -->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>