<app-header></app-header>
<div class="confirmation">
    <img style="width: 150px;height: 150px;" src="assets/congs.gif">
    <div class="h2" >Congratulations....<br>
        Your Password Changed successfull...<br>
    </div>
    <a class="btnRegister" href="#">Login into your account</a>
</div>