
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <img style="width:150px;height:80px" src="assets/company.png">
    <div class="navbar-right">
      
      <div class="dropdown">
        <button class="dropbtn">Admin</button>
        <div class="dropdown-content">
          <a href="#">Manage Profile</a>
          <a href="#">Manage Users</a>
          <a href="#">Logout</a>
        </div>
      </div>





    </div>
    </div>
</nav>