<app-header></app-header>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper ">
  <div id="formContent">
    <h2>Reset Password</h2> 
    <br>

    <form>
       
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
    
      <br>
      <input type="submit" class="fadeIn fourth" value="Send Recovery Link">
    </form>

    
  </div>
</div>