.confirmation{
    
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding-top: 200px;
    padding-bottom: 15%;
    text-align: center;
}
h2 {
    font-size: 12px;
    font-weight: 500;
    display:flex;
  }
  .btnRegister{
    float: right;
    margin-top: 2%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}