<app-header></app-header>
<div class="confirmation">
    <img style="width: 150px;height: 150px;" src="assets/congs.gif">
    <div class="h2" >Congratulations....<br>
        Your accoount has been successfully Created.<br>
    </div>
    <p>Please confirm your Email by clicking on the confirmation link sent to the same.</p>
    <a class="btnRegister" href="#">Login into your account</a>
</div>