<!-- CSS only --><!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   
<div id="footerc" class="navbar-expand-lg navbar-light bg-light shadow fixed-top">

    <div class="left">&copy;For Any queries<br>Call +91 202 225
      2215<br>support@projtech.techkindreds.in</div>
    <div class="center">Copyright @ Techkindreds 2021</div>
    <div class="right">
      <p><img src="assets/projtec.png" style="height:150px"><br>
    </div>
  </div>
