

#footerc{
    font-size: 20px;
    margin-top: auto;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 180px;
  }
  #footerc .left
  {
    float:left; padding:50px 20px 0px 150px;
  }
  #footerc .center
  {
    float:left; padding:80px 20px 2px 300px;
  }
  #footerc .right
  {
    float:left; padding:1px 0px 2px 400px;
  }
  
  #footrec .right .center .left{
    background-color: #124265;
  }